// 1心系 7小肠 start
$background-color-zyxx: #de9648;
$background-color-zyxx1: #f6f1ec;
$background-color-zyxx2: #e2e7d0;
$background-color-zyxx3: #cad1b2;
$background-color-zyxx4: #e2dddc;
$background-color-zyxx5: #de9648;
$background-color-zyxx6: #ffffff;
$background-color-zyxx7: rgba(239, 236, 226, 0.2);
$background-color-zyxx8: rgba(222, 150, 72, 0.5);
$background-color-zyxx9: rgba(208, 186, 179, 0.14);
// loading
$background-color-zyxx10: rgba(0,0,0,0.20);
$background-color-zyxx11: rgba(255,255,255,0.80);

$font-color-zyxx: #ab8987;
$font-color-zyxx1: #713A30;
$font-color-zyxx2: #2f0000;
$font-color-zyxx3: #e2dddc;
$font-color-zyxx4: #333333;
$font-color-zyxx5: #999999;
$font-color-zyxx6: #ffffff;
$font-color-zyxx7: #2a2a2a;
$font-color-zyxx8: #666666;
$font-color-zyxx9: rgba(113, 58, 48, 0.6);
$font-color-zyxx10: #de9648;
$font-color-zyxx11: #de9648;
$font-color-zyxx12: #C4C4C4;

$box-shodow: rgba(222, 150, 72, 0.5);
$box-shodow1: rgba(211, 170, 160, 0.1);
$box-shodow2: rgba(208, 147, 83, 0.4);
$box-shodow3: rgba(228, 199, 193, 0.5);
$box-shodow4: rgba(211, 170, 160, 0.3);

$border: #e2e7d0;
$border1: #de9648;
$border2: rgba(222, 150, 72, 0.4);
$border3: rgba(222, 150, 72, 0.6);
$border4: #f1d8bd;

$border-color: #e2dddc;
$border-color1: #de9648;
$border-color2: rgba(222, 150, 72, 0.4);
$border-color3: rgba(215, 157, 97, 0.4);

$border-left: rgba(222, 150, 72, 0.4);
// 心系  end

// 3肺、8大肠  start
$background-color-fd:  #D9BD1C;
$background-color-fd1: rgb(248,246,240);
$background-color-fd2: #e2e7d0;
$background-color-fd3: #cad1b2;
$background-color-fd4: #e2dddc;
$background-color-fd5: #D9BD1C;
$background-color-fd6: #ffffff;
$background-color-fd7: rgba(239, 236, 226, 0.2);
$background-color-fd8: rgba(217,189,28, 0.5);
$background-color-fd9: rgba(215,203,180,0.14);
// loading
$background-color-fd10: rgba(0,0,0,0.20);
$background-color-fd11: rgba(255,255,255,0.80);

$font-color-fd: #ACA18B;
$font-color-fd1: #5C4B2A;
$font-color-fd2: #2f0000;
$font-color-fd3: #e2dddc;
$font-color-fd4: #333333;
$font-color-fd5: #999999;
$font-color-fd6: #ffffff;
$font-color-fd7: #2a2a2a;
$font-color-fd8: #666666;
$font-color-fd9: rgba(92,75,42,.6);
$font-color-fd10: #D9BD1C;
$font-color-fd12: #C4C4C4;

$box-shodow-fd: rgba(217,189,28,0.50);
$box-shodow-fd1: rgba(217,189,28, 0.1);
$box-shodow-fd2: rgba(217,189,28, 0.4);
$box-shodow-fd3: rgba(217,189,28,0.10);
$box-shodow-fd4: rgba(217,189,28, 0.3);

$border: #e2e7d0;
$border-fd1: #D9BD1C;
$border-fd2: rgba(218,200,97, 0.4);
$border-fd3: rgba(218,200,97, 0.6);
$border-fd4: #f1d8bd;

$border-color-fd: #e2dddc;
$border-color-fd1: #D9BD1C;
$border-color-fd2: rgba(218,200,97, 0.4);
$border-color-fd3: rgba(218,200,97, 0.4);

$border-left-fd: rgba(218,200,97, 0.4);
// 肺、大肠  end

// 2肝系、9胆系  start
$background-color-gd:  #BAD035;
$background-color-gd1: rgb(247,248,243);
$background-color-gd2: #e2e7d0;
$background-color-gd3: #cad1b2;
$background-color-gd4: #e2dddc;
$background-color-gd5: #BAD035;
$background-color-gd6: #ffffff;
$background-color-gd7: rgba(239, 236, 226, 0.2);
$background-color-gd8: rgba(186,208,53,0.5);
$background-color-gd9: rgba(206,212,180, 0.14);
// loading
$background-color-gd10: rgba(0,0,0,0.20);
$background-color-gd11: rgba(255,255,255,0.80);

$font-color-gd: #9EA485;
$font-color-gd1:  #3D412F;
$font-color-gd2: #2f0000;
$font-color-gd3: #e2dddc;
$font-color-gd4: #333333;
$font-color-gd5: #999999;
$font-color-gd6: #ffffff;
$font-color-gd7: #2a2a2a;
$font-color-gd8: #666666;
$font-color-gd9: rgba(61,65,47, 0.6);
$font-color-gd10:  #BAD035;
$font-color-gd11:  #BAD035;
$font-color-gd12: #C4C4C4;

$box-shodow-gd: rgba(186,208,53, 0.5);
$box-shodow-gd1: rgba(185,192,162, 0.1);
$box-shodow-gd2: rgba(190,210,72, 0.4);
$box-shodow-gd3: rgba(190,210,72, 0.1);
$box-shodow-gd4: rgba(185,192,162, 0.3);

$border-gd: #e2e7d0;
$border-gd1:  #BAD035;
$border-gd2: rgba(186,208,53, 0.4);
$border-gd3: rgba(186,208,53, 0.6);
$border-gd4: #f1d8bd;

$border-color-gd: #e2dddc;
$border-color-gd1:  #BAD035;
$border-color-gd2: rgba(186,208,53, 0.4);
$border-color-gd3: rgba(198,215,98, 0.4);

$border-left-gd: rgba(186,208,53, 0.4);
// 2肝系、9胆系  end


// 4脾系、5胃系  start
$background-color-pw: #D7A82F;
$background-color-pw1: rgb(246,242,236);
$background-color-pw2: #e2e7d0;
$background-color-pw3: #cad1b2;
$background-color-pw4: #e2dddc;
$background-color-pw5: #D7A82F;
$background-color-pw6: #ffffff;
$background-color-pw7: rgba(239, 236, 226, 0.2);
$background-color-pw8: rgba(215,168,47, 0.5);
$background-color-pw9: rgba(214,205,182,0.14);
// loading
$background-color-pw10: rgba(0,0,0,0.20);
$background-color-pw11: rgba(255,255,255,0.80);

$font-color-pw: #AF9A8D;
$font-color-pw1:  #60402C;
$font-color-pw2: #2f0000;
$font-color-pw3: #e2dddc;
$font-color-pw4: #333333;
$font-color-pw5: #999999;
$font-color-pw6: #ffffff;
$font-color-pw7: #2a2a2a;
$font-color-pw8: #666666;
$font-color-pw9: rgba(96,64,44, 0.6);
$font-color-pw10: #D7A82F;
$font-color-pw11: #D7A82F;
$font-color-pw12: #C4C4C4;

$box-shodow-pw: rgba(215,168,47,0.40);
$box-shodow-pw1: rgba(187,166,153, 0.1);
$box-shodow-pw2: rgba(215,168,47, 0.4);
$box-shodow-pw3: rgba(215,168,47, 0.1);
$box-shodow-pw4: rgba(215,168,47, 0.3);

$border-pw: #e2e7d0;
$border-pw1: #D7A82F;
$border-pw2: rgba(220,185,96, 0.4);
$border-pw3: rgba(215,168,47, 0.6);
$border-pw4: #f1d8bd;

$border-color-pw: #e2dddc;
$border-color-pw1: #D7A82F;
$border-color-pw2: rgba(220,185,96, 0.4);
$border-color-pw3: rgba(220,185,96, 0.4);

$border-left-pw: rgba(220,185,96, 0.4);
// 4脾系、5胃系 end


// 6肾系  start
$background-color-s:  #54C6C9;
$background-color-s1: rgb(244,248,249);
$background-color-s2: #e2e7d0;
$background-color-s3: #cad1b2;
$background-color-s4: #e2dddc;
$background-color-s5:  #54C6C9;
$background-color-s6: #ffffff;
$background-color-s7: rgba(239, 236, 226, 0.2);
$background-color-s8: rgba(84,198,201, 0.5);
$background-color-s9: rgba(179,190,211, 0.14);
// loading
$background-color-s10: rgba(0,0,0,0.20);
$background-color-s11: rgba(255,255,255,0.80);

$font-color-s: #808DA8;
$font-color-s1:  #364157;
$font-color-s2: #2f0000;
$font-color-s3: #e2dddc;
$font-color-s4: #333333;
$font-color-s5: #999999;
$font-color-s6: #ffffff;
$font-color-s7: #2a2a2a;
$font-color-s8: #666666;
$font-color-s9: rgba(54,65,87, 0.6);
$font-color-s10:  #54C6C9;
$font-color-s11:  #54C6C9;
$font-color-s12: #C4C4C4;

$box-shodow-s: rgba(84,198,201,0.40);
$box-shodow-s1: rgba(160,171,191, 0.1);
$box-shodow-s2: rgba(84,198,201, 0.4);
$box-shodow-s3: rgba(84,198,201,0.20);
$box-shodow-s4: rgba(160,171,191, 0.3);

$border-s: #e2e7d0;
$border-s1:  #54C6C9;
$border-s2: rgba(84,198,201, 0.4);
$border-s3: rgba(84,198,201, 0.6);
$border-s4: #f1d8bd;

$border-color-s: #e2dddc;
$border-color-s1:  #54C6C9;
$border-color-s2: rgba(84,198,201, 0.4);
$border-color-s3: rgba(142,197,199, 0.4);

$border-left-s: rgba(84,198,201, 0.4);
// 6肾系  end